# _*TALLER 1 CORTE 2*_ (Clustering con K-Means Y AED)
## _Integrantes_
- Diego Olmedo
- Nicolás Wilches
- Mariana Chacon
- Juan Mateus

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.cluster import KMeans
from mpl_toolkits.mplot3d import Axes3D

url = "https://raw.githubusercontent.com/juanpablo130502/TallerDatasetTitanic_BI/refs/heads/main/Data/dataset_kmeans_19022025.csv"
df = pd.read_csv(url, sep=';')
print("Información del DataFrame:")
print(df.info())
df.head()

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Edad                 10000 non-null  int64
 1   Gasto Mensual (USD)  10000 non-null  int64
 2   Compras Mensuales    10000 non-null  int64
dtypes: int64(3)
memory usage: 234.5 KB
None

   Edad  Gasto Mensual (USD)  Compras Mensuales
0    56                  714                 24
1    69                  115                  3
2    46                  698                 13
3    32                  653                  7
4    60                  486                 25